{% extends 'base.html.twig' %}

{% block body %}
    Homepage.

    <ul>
        <li>
            Values of the Project with orderNumber: {{ project.id }}
            <ul>
                {% for key,value in project.values %}
                    <li>{{ key }} : {{ value }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for revisionInProject in project.revisionsInProject %}
                    <li>This if for Component: {{ revisionInProject.revisionState.component.id }}</li>
                    <li>
                        Values of the RevisionInProject of
                        RevisionState: {{ revisionInProject.revisionState.revisionIndex }}
                        <ul>
                            {% for key,value in revisionInProject.values %}
                                <li>{{ key }} : {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        Values of the RevisionState: {{ revisionInProject.revisionState.revisionIndex }}
                        <ul>
                            {% for key,value in revisionInProject.revisionState.values %}
                                <li>{{ key }} : {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

{% endblock %}